/target/
!.mvn/wrapper/maven-wrapper.jar

/src/main/resources/templates/docs/*

### STS ###
.apt_generated
.classpathgit
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### Visual Studio Code ###
.vscode/

### Logs ###
logs/*

### Version plugin ###
pom.xml.versionsBackup
